<!-- <app-person-input (personFirstName)="onPersonCreated($event)" ></app-person-input> -->
<!-- <app-person-input (personLastName)="onPersonLastName($event)"></app-person-input> -->
<!-- <app-person [personList]="nameList"></app-person>property binding- we used Input as decorator -->
<!-- <app-person [personlList]="namelList"></app-person> 
<app-person [numberList]="ageList"></app-person>  -->
<a routerLink="/">Person List</a> | <a routerLink="/input">Input Box</a>
<hr>
<router-outlet></router-outlet>